
body{
    background-color: rgb(224, 157, 210);
    }
    
    Estilizar o título principal do seu site
     h1{
    color: ;
    font-family: blue;caret-color: rgb(23, 133, 133)
    background: pink;
    }
    
    Estilizar os parágrafos
    p{
    color: ;background-color: rgb(19, 243, 243);
    font-family:purple;
    font-size: grey;
    background:pink ;
    }
