body{
    background-color: ;
    }
    
    Estilizar o título principal do seu site
     h1{
    color:pink ;
    font-family: ; 
    background: ;
    }
    
    Estilizar os parágrafos
    p{
    color: ;
    font-family: ;
    font-size: ;
    background: ;
    }
